body {
	background-color:#333333;
	background:url("../resources/img/hex-big.png") repeat;
}

.textDiv {
	background-color:white;
	border-radius:20px;
	padding:20px;
	padding-top:10px;
	margin-bottom:20px;
}

